# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large binary/3D model files
*.zip
*.glb
*.fbx
*.gltf
f1d17af912d94c6cbc4fd7eb2cb9b3fc/
human-models-set-malefemale-rigged*/
public/models/*.glb
